header {
  /* background-color: red; */
  /* background: url('../images/shapecontrast.png') center; */
  background-repeat: no-repeat;
  text-align: center;
  /* height: 600px; */
  /* opacity: 0.9; */
}

h1 {
  margin: 0;
  padding: 37px 100px;
  color: white;
  background: black;
  mix-blend-mode: multiply;
}