.App {
  text-align: center;
  margin: 0;
  box-sizing: border-box;
}

/* Title - font-family: 'Special Elite', cursive; */
/* Graffitti - font-family: 'Sedgwick Ave Display', cursive; */
/* Heading - font-family: 'Caveat Brush', cursive; */
/* Body - font-family: 'Roboto', sans-serif; */

h1 {
  font-family: 'Special Elite', cursive;
  font-size: 160px;
}

 h2, h3, h4 {
   font-family: 'Caveat Brush', cursive;
   font-size: 40px;
 }

 li, a {
   font-family: 'Sedgwick Ave Display', cursive;
   font-size: 25px;
 }

 p {
   font-family: 'Roboto', sans-serif;
 }